.env
.flask_secret_key
flask_session/
__pycache__/
*.py[cod]
*$py.class
.Python
env/
myenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
